<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#" id="logo">IndianBeasts</a> -->
  <%= link_to "Amazon.in",root_path,class: "navbar-brand",id: "logo" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <big>Categories</a>
        </big><div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" href="#">Action</a> -->
          <%= link_to "Electronics","#", class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Clothing</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Furniture</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Grocery</a>
        </div>
      </li>
      <li class="nav-item ">
      <li><big><%= link_to "WishList","#",class: "nav-link" %></big></li>
      </li>
      <li class="nav-item">
      <big><a class="nav-link" href="#">Cart</a></big>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control mr-sm-2" %>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Signup</button>
    </form>
  </div>
</nav>
